@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.navbar {
  background: $clr-primary-1;
  box-shadow: $light-shadow;
  .nav-center {
    .nav-header {
      @include flex-between;
      padding: 1rem;
    }
    .nav-toggle {
      font-size: 1.5rem;
      color: $clr-primary-4;
      background: transparent;
      border-color: transparent;
      transition: $transition;
      cursor: pointer;
      &:hover {
        transform: rotate(90deg);
      }
    }

    .logo {
      height: 30px;
    }
    .links-container{
      height: 0;
      overflow: hidden;
      &.show{
        height: auto;
      }
    }
    .links li, .links li a:visited {
      color: $clr-primary-6;
      font-size: 1rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
      display: block;
      padding: 0.5rem 1rem;
      transition: $transition;
      position: relative;
      &:hover {
        background: $clr-primary-8;
        color: $clr-primary-4;
        padding-left: 1.5rem;
        &:after{
          // width: 100%;
          opacity: 1;
        } 
      }
      &::after{
        @include pseudo;
        border-radius: $radius;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        background: $clr-primary-4;
        transition: 0.3s all ease-out;
      }
    }
  }
}

@include tablet {
  .navbar {
    .nav-center {
      max-width: 1200px;
      @include center-auto;
      @include flex-center;
      padding: 1rem;
      .logo{
        height: 40px;
      } 

      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links-container {
        height: auto;
      }
      .links {
        display: flex;
        gap: 3rem;
        li {
          padding: 0;
          margin: 0 0.5rem;
          &:hover {
            padding: 0;
            background: transparent;
          }
        }
      }
    }
  }
}
