@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.pagination{
  @include center-auto;
  @include flex-between;
  width: 15rem;
  align-items: center;
  margin-bottom: 1.2rem;
  .arrow{
    width: 2rem;
    height: 1.1rem;
    &:hover{
      cursor: pointer;
    }
  }
  p{
    margin: 0;
  }
  .pages{
    width: 8rem;
    @include flex-between;
    // gap: 1rem;
    input{
      width: 1.5rem;
      text-align: center;
      outline: none;
      border-bottom: 1px $clr-primary-8 solid;
      margin: 0 1rem;
      color: $clr-primary-8;
    }
  }
  &:last-of-type{
    margin-top: 1.2rem;
  }
}