@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.single-question{
  background-color: $clr-primary-1; 
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: $radius;
  &.correct{
    border: 2px solid green;
  }
  &.wrong{
    border: 2px solid red;
  }
  .question{
    font-size: 1.2rem;
    color: $clr-secondary-5;
    @include flex-center;
    flex-direction: column-reverse;
    .question-text{
      @include flex-between;
      width: 100%;
      font-size: 1.5rem;
    }
    .cross{
      color: red;
    }
    .check{
      color: green;
    }
    svg{
      margin-bottom: 10px;
    }
  }
  .answer{
    padding: .5rem 1rem;
    border-radius: $radius;
    width: 100%;
    font-size: 1rem;
    color: $clr-secondary-7;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover{
      background: $clr-primary-0;
      color: $clr-secondary-5
    }

    &.revealed{
      color: red;
    }
    &.revealed.correct-answer{
      color: green;
    }
  }
}