@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.spinner{
  h3{
    margin-top: 2rem;
    text-align: center;
  }
  div{
    @include box(20rem);
    @include center-auto;
    border-radius: 50%;
    border-top: 2px solid $clr-primary-2;
    animation: spinning 2s linear infinite;
  }
}

@keyframes spinning{
  0%{
    transform: rotate(0deg)
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}