@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.spinner{

  @include box(200px);
  @include center-auto;
  border: 3.5px solid $clr-grey-8;
  border-top-color: $clr-secondary-3;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  margin-top: 10vh;

  @keyframes spinner {
    50%{
      transform: rotate(180deg);
      // transform: rotate3d(2, 0, 0, 180deg) rotate(360deg);
      border-top-color: $clr-secondary-4;
      // width: 190px;
    }
    100%{
      transform: rotate(360deg);
      // transform: rotate3d(0, 0, 0, 360deg) rotate(720deg);
      border-top-color: $clr-secondary-3;
      // width: 200px;
    }
  }
}