*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #1e4a76;
  color: #b1cfec;
  line-height: 1.5;
  font-size: 0.875rem;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 95vw;
  }
}
.news {
  width: 80vw;
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .news {
    grid-template-columns: 40vw 40vw;
  }
}
.news-story {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  padding: 1rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
}
.news-story .title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2e73b8;
}
.news-story .info {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #3b85ce;
}
.news-story .url {
  text-decoration: none;
  color: #5c738a;
  transition: 0.1s linear all;
}
.news-story .url:hover {
  color: #2c4a68;
}
.news-story .button-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.news-story .button-container button {
  margin-left: 40%;
  color: #ca1616;
}

@media only screen and (min-width: 768px) {
  .news-story .button-container button {
    margin-left: 75%;
  }
}
.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.search-form .form-input {
  width: 100%;
  border: transparent;
  max-width: 620px;
  padding: 0.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-bottom: 2px solid #222;
  outline: none;
  color: #afbdca;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.search-form .error {
  color: #ca1616;
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
  margin-bottom: 1.2rem;
}
.pagination .arrow {
  width: 2rem;
  height: 1.1rem;
}
.pagination .arrow:hover {
  cursor: pointer;
}
.pagination p {
  margin: 0;
}
.pagination .pages {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination .pages input {
  width: 1.5rem;
  text-align: center;
  outline: none;
  border-bottom: 1px #b1cfec solid;
  margin: 0 1rem;
  color: #b1cfec;
}
.pagination:last-of-type {
  margin-top: 1.2rem;
}

.spinner h3 {
  margin-top: 2rem;
  text-align: center;
}
.spinner div {
  width: 20rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-top: 2px solid #265e97;
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.single-movie {
  width: 90vw;
  max-width: 1170px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}
.single-movie img {
  width: 350px;
  margin: 0 auto;
  display: block;
}
.single-movie p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}
.single-movie .btn {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: #5c99d6;
  color: #fff;
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
  width: auto;
}

.page-error {
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 1024px) {
  .single-movie {
    grid-template-columns: 1fr 2fr;
  }
}/*# sourceMappingURL=main.css.map */